
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $sansFamily;
	color: $text-color;
}
h1,
h2,
h3,
h4 {
	line-height: 1.3em;
	font-weight: 700;
	margin: 0;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.3rem;
}

a {
	color: $text-color;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $text-color;
	}
}


// Landing
$box-height: 100px;

main {
	position: relative;
	display: block;
	height: 100vh;
	text-align: center;
	background-color: $main-bg;

	.box {
		@include centerX();
		bottom: 0;
		z-index: 2;
		display: inline-block;
		width: $box-height;
		height: $box-height;
		background-color: $box-color;
		box-shadow: $box-shadow;
	}
	.drump-box {
		@include centerX();
		bottom: $box-height; // == box height
		z-index: 1;
		display: inline-block;
		width: 200px;
		height: 400px;
		background-color: $grey;
		box-shadow: $box-shadow;
	}

	@media (orientation: landscape) {
		height: 100vw;
		width: 100vh;
		@include transform( rotate(90deg) );
		transform-origin: 50vw 50vw;

		.drump-box {
			@include animation(trip, 1.4s, ease-in, 1s);
		}
	}
	&.trip {
		.drump-box {
			@include animation(trip, 1.4s, ease-in, 1s);
		}
	}

}