
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $sansFamily;
	color: $text-color;
}
h1,
h2,
h3,
h4 {
	line-height: 1.3em;
	font-weight: 700;
	margin: 0;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.3rem;
}

a {
	color: $text-color;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $text-color;
	}
}


// Landing
$box-height: 100px;
$ad-height: 50px;
$ad-height-tablet: 90px;
$tripDelay-mobile: 0.5s;
$tripDelay: 0.8s;

main {
	position: relative;
	display: block;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: $main-bg;

	.trip-btn {
		display: none;
	}
	.ad-box {
		display: inline-block;
		background-color: $grey;

		&.mobile {
			@include centerX();
			bottom: 0;
			width: 320px;
			height: $ad-height;
		}
		&.desktop,
		&.tablet {
			display: none;
		}
	}
	.box {
		@include centerX();
		bottom: $ad-height;
		z-index: 2;
		display: inline-block;
		width: $box-height;
		height: $box-height;
		padding: 25px 10px;
		background-color: $box-color;
		box-shadow: $box-shadow;
		text-align: center;

		.odometer {
			display: inline-block;
		}
		.odometer-number {
			display: block;
		}
	}
	.drump-box {
		@include centerX();
		bottom: $box-height + $ad-height;
		z-index: 1;
		display: inline-block;
		width: 200px;
		height: 400px;

		img {
			display: block;
			width: 100%;
			height: auto;
			position: absolute;
			bottom: 0;
			left: 0;

			&.fallen {
				opacity: 0;
			}
		}
	}
	.quote {
		position: relative;
		padding: 30px 20px 0;
		text-align: center;
		@include transition();

		&.hide {
			opacity: 0;
		}

		.quote-head {
			margin-bottom: 50px;
			font-size: 1.5rem;
		}
		.quote-box {
			max-width: 600px;
			margin: 0 auto;
		}
	}

	@media (min-width: $mobile) {
		padding-top: 10vh;
		
		.ad-box {
			&.mobile {
				display: none;
			}
			&.tablet {
				display: block;
				@include centerX();
				width: 728px;
				height: $ad-height-tablet;

				&.top {
					top: 0;
				}
				// &.bottom {
				// 	bottom: 0;
				// }
			}
		}
		.box {
			bottom: 0;
		}
		.drump-box {
			bottom: $box-height;
			transform-origin: $box-height 100%;
		}
		.trip-btn {
			position: relative;
			z-index: 5;
			display: inline-block;
			min-width: 200px;
			padding: 15px 30px;
			border: 1px solid $grey;
			color: $grey;
			font-size: 1.5rem;
			background-color: transparent;
			box-shadow: $box-shadow;

			&:focus {
				outline: none;
			}
			&:active {
				box-shadow: $box-shadow-active;
			}
		}

		&.trip {
			.drump-box {
				@include animation(tripDesktop, 1.5s, ease-in, 0.2s);
				// background-image: url('/img/drumpf_fallen.png');

				img {
					&.fallen {
						// display: block;
						@include animation(delayShow, $tripDelay, ease-in);
					}
					&.standing {
						// display: none;
						@include animation(delayHide, $tripDelay, ease-in);
					}
				}
			}
		}
	}
	@media (min-width: $tablet) {
		.ad-box {
			&.desktop {
				display: block;
				@include centerY();
				width: 160px;
				height: 600px;

				&.left {
					left: 0;
				}
				&.right {
					right: 0;
				}
			}
			&.tablet {
				display: none;
			}
		}
		// .box {
		// 	bottom: 0;
		// }
		// .drump-box {
		// 	bottom: $box-height;
		// }
	}
	@media (min-width: 1500px) {
		.ad-box {
			&.desktop {
				width: 300px;
			}
		}
	}
}

.rotate-warn {
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: $light-grey;

	.copy-box {
		@include centerMe();
		width: 50%;
		text-align: center;
	}

	@media (orientation: landscape) {
		display: block;
	}
	@media (min-width: $mobile) {
		display: none;
	}
}

.ready {
	.rotate-warn {
		display: none;
	}
	
	@media (max-width: $mobile) and (orientation: landscape) {
		main {
			height: 100vw;
			width: 100vh;
			@include transform( rotate(90deg) );
			transform-origin: 50vw 50vw;

			.drump-box {
				@include animation(trip, 1s, ease-in, 0s);
				
				img {
					&.fallen {
						// display: block;
						@include animation(delayShow, $tripDelay-mobile, ease-in);
					}
					&.standing {
						// display: none;
						@include animation(delayHide, $tripDelay-mobile, ease-in);
					}
				}
			}
		}
	}
}